<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sToken" value="wulex" />
    <add key="sAppID" value="wx3eb5bf1290db2ca0" />
    <add key="sAppSecret" value="e6013be0a7338c7d3e02877db116e231" />
    <add key="sEncodingAESKey" value="xPeNagi5vPpVuBh8hX3UwWcz4Dy5tYltQDZALYWPRy8" />
    <add key="stoken_Url" value="https://api.weixin.qq.com/cgi-bin/token" />
  
  
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" />

  </system.web>

</configuration>
